.Contributors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust based on content */
    width: 100%;
    background: linear-gradient(to right, 
    rgba(255, 113, 31, 0) 0%,
    rgba(255, 113, 31, .8) 0%, 
    rgba(255, 113, 31, .8) 50%, 
    rgba(204, 85, 0, .8) 100%),
    rgba(255, 113, 31, 0) 0%;
    padding: 20px 0; /* Vertical padding */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ContributorsBox {
    width: 66.67%; /* 2/3 of the width */
    text-align: center;
    background-color: rgba(255, 179, 128, 0.8); /* Lighter, translucent orange */
    padding: 20px;
    border-radius: 15px; /* Softened edges *//* Optional for rounded corners */
    margin: 20px auto; /* Centering the box */
}


.ContributorCard {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 200px; /* Adjust as needed */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.ContributorCard img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Circular images */
}

.ContributorLinks {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    position: relative;
    width: 50px; /* Set fixed width */
    height: 50px;
    object-fit: contain; 
}

.ContributorsText {
    margin-top: 20px;
     color: #333333; /* Dark gray for softer contrast *//* Adjust color as needed */
}

.ContributorsButton {
    margin-top: 10px;
    padding: 10px 30px; /* Oblong shape */
    background-color: rgba(255, 255, 255, 0.8); /* White background */
    color: #333; /* Orange text for contrast */
    border: 1px solid transparent; /* Transparent border, consistent width */
    border-radius: 25px; /* Rounded edges */
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold; /* Bold text */
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.ContributorsButton:hover {
    background-color: #FFAB76; /* Soft peach tone *//* Lighter, translucent orange */
    border-color: #fff; /* White border, same width */
    color: #fff; /* White text on hover */
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.github-icon, .linkedin-icon {
    width: 10px; /* Set fixed width */
    height: 10px; /* Set fixed height */

    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.github-link:hover .github-icon, .linkedin-link:hover .linkedin-icon {
    transform: scale(1.2); /* Slightly enlarge the icon on hover */
}


