.Credentials {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ff711f;
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
  box-shadow: 0px 0px 2.5px 1px rgba(249, 113, 50, 0.5);

  /* center the box vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* adjustments for better spacing */
  height: 25em; 
  margin-top: 15em; 
}

.Credentials h3 {
  text-align: center;
  color: #d8d8d8;
}

.Credentials form {
  margin-bottom: 20px;
}

.Credentials label {
  display: block;
  margin-bottom: 8px;
  color: #d8d8d8;
}

.Credentials input,
.Credentials select {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #d4d4d4;
  color: #333;
  transition: border-color 0.3s;
}

.Credentials input:focus,
.Credentials select:focus {
  border-color: #3498db;
}

.Credentials button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Credentials button:hover {
  background-color: #2980b9;
}

