.Head {
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
    border-bottom: 2px solid #3c3c3c;
    z-index: 1;
    padding: 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.LogoTitleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Head h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d8d8d8;
    margin: 0;
    padding-left: 10px; /* Adjust as needed */
}

.Head img {
    height: 100%;
}

.NavLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavLink {
    color: #d8d8d8;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    transition: color 0.3s;
}

.NavLink:hover {
    color: yellow; /* Replace with your desired hover color */
}

@media only screen and (max-width: 600px) {

    .LogoTitleContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        
    }

    .NavLinks {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .NavLink {
        color: #d8d8d8;
        text-decoration: none;
        margin-left: 10px;
        padding: 10px;
        transition: color 0.3s;
    }

    .Head {
        h3 {
            display: none; 
        }
    }


}